<ion-view view-title="Categories">
    <ion-content>
        <div class="row">
<!--            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/{{playlist.id}}">-->
            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search">
                <p class="button button-icon icon ion-settings"></p>
                <p>caffe</p>
            </a>
            <div class="col col-33" style="text-align:center;">
                <a class="button button-icon icon ion-settings"></a>
            </div>
            <div class="col col-33" style="text-align:center;">
                <a class="button button-icon icon ion-settings"></a>
            </div>
        </div>
    </ion-content>
</ion-view>
