<ion-view view-title="Categories">
    <ion-content>
        <div class="row">
<!--            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/{{playlist.id}}">-->
            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/1">
                <p class="button button-icon icon ion-settings"></p>
                <p>caffe</p>
            </a>
            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/2">
                <p class="button button-icon icon ion-settings"></p>
                <p>monuments</p>
            </a>
            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/3">
                <p class="button button-icon icon ion-settings"></p>
                <p>restaurants</p>
            </a>
        </div>
        <div class="row">
            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/4">
                <p class="button button-icon icon ion-settings"></p>
                <p>night bars</p>
            </a>
            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/5">
                <p class="button button-icon icon ion-settings"></p>
                <p>Sport</p>
            </a>
            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/6">
                <p class="button button-icon icon ion-settings"></p>
                <p>Realax</p>
            </a>
        </div>

        <div class="row">
            <a class="col col-33" style="text-align:center; text-decoration:none; color:black;" href="#/app/search/7">
                <p class="button button-icon icon ion-settings"></p>
                <p>hotels</p>
            </a>
        </div>
    </ion-content>
</ion-view>
